      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Containers</a></span>
              <span class="info-box-number"><a href="{% url "ContainerBoard" %}" class="ng-binding">{{ containers_total }}</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-file-image-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Images</span>
              <span class="info-box-number"><a href="{% url "ImagesBoard" %}" class="ng-binding">{{ images_total }}</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-server"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Nodes</span>
              <span class="info-box-number"><a href="{% url "NodeBoard" %}" class="ng-binding">{{ nodes_total }}</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-film"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Products</span>
              <span class="info-box-number"><a href="{% url "ProductBoard" %}" class="ng-binding">{{ product_total }}</a></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
      <!-- /.row -->